* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: hsl(30deg, 38%, 92%);
  height: 100vh;
}

.main {
  width: 64rem;
  height: 48rem;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 400px) {
  .main {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    padding: 2.6rem 1.6rem;
    width: 37.5rem;
    height: 48rem;
  }
}
.main_picture-container {
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 400px) {
  .main_picture-container {
    width: 100%;
    height: 25rem;
  }
}
.main_picture-container-image {
  height: 100%;
  width: auto;
  border-top-left-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
}
@media screen and (max-width: 400px) {
  .main_picture-container-image {
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1.1rem;
  }
}
.main_side-card {
  height: 100%;
  width: 50%;
  background-color: hsl(0deg, 0%, 100%);
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
  padding: 3.3rem;
}
@media screen and (max-width: 400px) {
  .main_side-card {
    width: 100%;
    height: 37rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.1rem;
    padding: 2.4rem;
  }
}

.text_category {
  color: hsl(228deg, 12%, 48%);
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 400px) {
  .text_category {
    font-size: 1.2rem;
  }
}
.text_title {
  font-size: 3.6rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212deg, 21%, 14%);
  line-height: 93%;
  padding-top: 2.3rem;
}
@media screen and (max-width: 400px) {
  .text_title {
    font-size: 3.2rem;
    padding-top: 1.6rem;
    font-stretch: expanded;
    letter-spacing: 0.1rem;
    font-weight: 900;
  }
}
.text_description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  padding-top: 2.6rem;
  color: hsl(228deg, 12%, 48%);
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  line-height: 160%;
}
@media screen and (max-width: 400px) {
  .text_description {
    font-size: 1.2rem;
    padding-top: 1.6rem;
    letter-spacing: 0.4px;
    line-height: 180%;
  }
}
.text_price {
  padding-top: 2.6rem;
  display: flex;
  justify-content: left;
}
.text_price-big {
  color: hsl(158deg, 36%, 37%);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3.7rem;
}
.text_price-small {
  color: hsl(228deg, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: line-through;
  margin-left: 2.8rem;
  padding-top: 1.3rem;
}
@media screen and (max-width: 400px) {
  .text_price {
    padding-top: 3.8rem;
  }
  .text_price-big {
    font-size: 3.2rem;
  }
  .text_price-small {
    font-size: 1.2rem;
    margin-left: 2.5rem;
  }
}
.text .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5.4rem;
  background-color: hsl(158deg, 36%, 37%);
  margin-top: 2.9rem;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  border-radius: 0.8rem;
}
@media screen and (max-width: 400px) {
  .text .btn {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    height: 4.8rem;
  }
}
.text .btn_icon {
  margin-right: 1.4rem;
}
.text .btn:active {
  background-color: hsl(158deg, 36%, 21%);
}

/*# sourceMappingURL=style.comp.css.map */
